<div class="text-center mb-5">
    <span class="badge bg-primary bg-opacity-10 text-primary px-3 py-2 rounded-pill fw-semibold">✦ modern blocks</span>
    <h1 class="display-5 fw-bold section-title mt-3 text-blue-color">{{title}}</h1>
    <p class="lead text-secondary col-lg-8 mx-auto">{{description}}</p>
    <div>
    <a href="{{ url('<front>') }}{{button_link}}" class="btn btn-primary">{{button_text}}</a>
    </div>
  </div>
